<header>
  <div id="header-navigation">
    <div id="logo"><a href="{!! url('/') !!}"><img src="http://localhost/fashion/public/images/logo/logo.jpg" alt=""></a></div>
    <div id="menu-wrapper">
      <div id="main-menu">
        <ul>
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/products">Products</a></li>
          <li><a routerLink="/about-us">About US</a></li>
          <li><a routerLink="/contact">Contact</a></li>
          <li><a routerLink="/manager/products">Manager</a></li>
        </ul>
      </div>

      <div id="user-action">

        <a href="#"><i class="fa fa-shopping-cart"></i>

        </a>


      </div>
    </div>
  </div>
</header>
