<div class="main-title">
  <h1> Edit Product </h1>
  <p> Home / Edit Product </p>
</div>

<div class="main-content" *ngIf="product">
  <div class="log-title">Edit Product</div>
  <div class="title-form">
    <form>
      <p>Product name</p>
      <input type="text" name="name" [(ngModel)]="product.name">

      <p>Price</p>
      <input type="text" name="price" [(ngModel)]="product.price">

      <p>Description</p>
      <textarea name="description" [(ngModel)]="product.description"></textarea>

      <button type="submit" (click)="updateProduct()"> Update </button>
    </form>
  </div>
</div>
