<div class="main-title">
  <h1> Products Manager </h1>
  <p> Home / Products Manager</p>
</div>

<div class="main-content">
  <div class="product-action">
    <a routerLink="/manager/products/add"> <button class="btn btn-add"> Add Product </button> </a>
  </div>
  <table class="table-products-manager" border="1">
    <thead>
    <th>ID</th>
    <th>Image</th>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Action</th>
    </thead>
    <tbody>
    <tr *ngFor="let product of products, let i = index">
      <td>{{ (i + 1) }}</td>
      <td><img class="image-manager-products" src="{{product.image}}" alt=""></td>
      <td>{{product.name}}</td>
      <td [ngStyle]="{'text-align': product.description.length > 100 ? 'justify' : 'center'}" class="desc-manager-product">{{product.description}}</td>
      <td>{{product.price}} VND</td>
      <td class="table-action">
        <a routerLink="/manager/products/edit/{{product.id}}"><i class="fa fa-eye"></i></a>
        <a (click)="onDelete(product.id)"><i class="fa fa-trash"></i></a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
